#cookie {
    background: transparent;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;   
}

@keyframes GoUp {
    0% {
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}